* {
    box-sizing: border-box;
}

body { 
    background-image: url(https://s3.amazonaws.com/files.shopmoment.com/general/momentist/_1640x1224_crop_center-center_82_line/snow-banner.jpg?mtime=20170424131637);
    background-size: cover;
}


.top-name { 
    background-color: cadetblue;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 80px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-right: 40px;
    float: right;

}

.section { 
    margin-top: 50px;
    padding: 0px;
    background-color: aliceblue;
}

.naver { 
    background-color: white;
    height: 80px; 
    text-align: center;  
    padding-left: 7px;
}

.about-card { 
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 130px;
    padding: 5px;
    border-radius: 2%;
    
}


.port-card { 
    width: 75%;
    padding: 5px;
    border-radius: 2%;
    margin-bottom: 50px;
    margin-left: 25px;
}


.container { 
    background-color: aliceblue;
    padding-left: 140px;
}

.aboutPic { 
    height: 200px;
}

.title { 
    margin-top: 30px;
    text-align: center;
  
}

.subtitle { 
    text-align: center;
}

.linkedIn { 
    height: 80px;
    width: 80px;
    margin-left: 50px;
}

.gitHub { 
    height: 70px;
    width: 70px;
    margin: auto;
}

.social-card { 
    width: 300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 400px;
    height: 200px;
    border-radius: 2%;
    padding: 10px;
}


.green-hat {
    height: 8px;
    width: 100%;
    background-color: seagreen;
    margin-top: 118px;
}

.bottom { 
    background-color: gray;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 980px) {

    .top-name{ 
        position: absolute;
        width: 980px;
        right: -40px;
        
    }

    .navbar { 
        position: relative;
        top: 80px;
        right: 10px;
        width: 102%;
    }

    .about-card { 
        width: 50%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 130px;
        padding: 5px;
        border-radius: 2%;
    
    }

    .port-card { 
        width: 100%;
        padding: 5px;
        border-radius: 2%;
    }
    .title { 
        margin-top: 65px;
        text-align: center;
      
    }
    
}

@media screen and (max-width: 768px) { 

    .navbar{
        width: 102%;
    }
    .top-name { 
        padding-left: 220px;
        padding-top: 10px;
    }

    .port-card {
        width: 75%;
    }
}

@media screen and (max-width: 640px) { 
    body { 
        background-color: aliceblue;
    }

    .top-name { 
        padding-left: 330px;
        padding-top: 10px;
    }
    
}


/* 
@media screen and (max-width: 360px) { 
    html, body { 
        margin: 0;
        padding: 0;
    }

    body { 
        background-color: aliceblue;
    }

    .top-name { 
        background-color: cadetblue;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 50px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        padding: 5px;
        margin-left: 0px;
    }

    .navbar { 
        margin-bottom: 40px;
    }
    
    

    .card { 
        width: 300px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 130px;
        padding: 5px;
        border-radius: 2%;
    }

    .social-card { 
        margin-bottom: 300px;
    }
    .content { 
        margin-top: 10px;
    }

    .green-hat {
        height: 8px;
        width: 100%;
        background-color: seagreen;
        margin-top: 118px;
    }

    .bottom { 
        background-color: gray;
        color: white;
        width: 100%;
        height: 40px;
        text-align: center;
        padding: 5px;
    }
    
    .title { 
        text-align: center;
      
    }

    .subtitle { 
        text-align: center;
    }

    .linkedIn { 
        height: 80px;
        width: 80px;
        margin-left: 50px;
    }

    .gitHub { 
        height: 70px;
        width: 70px;
        margin: auto;
    }
} */